.dashboard{
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: space-around;

.my_img{

}
.my_intro{
    line-height: 30px;

.job_profile{
    color: #B968C7;

}
.social_links{
    margin-top: 10px;

img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
}
}
}